@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prata&family=Protest+Guerrilla&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url(animations.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------- important css variables ------------------------- */
:root {
  --heading-font: "Prata", Georgia, serif;
  --heading-font-weight: 400;

  --body-font: "Raleway", sans-serif;

  --accent-color: #c5a992;
  --secondary-color: #c5a992;
  --dark-color: #2f2f2f;
  --light-color: #f3f2ec;
  --body-text-color: #757575;
  --light-text-color: #afafaf;
  --dark-text-color: #2f2f2f;
  --dark-icon-color: #555;
  --light-dark-bg-color: #edebe4;
  --active-color: #daa556;
}

body {
  font-family: var(--body-font);
  background-color: var(--light-color);
  color: var(--body-text-color);
  height: 200vh;
}

/* ------------------- custom design for shopping bag icon ------------------ */
.shopping-bag {
  min-height: 28px;
  min-width: 25px;

  max-width: 25px;
  max-height: 28px;

  border: solid 2px;
  border-radius: 3px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  transition: all 0.5s;
}

.shopping-bag:hover {
  background-color: var(--dark-icon-color);
  transition: all 0.5s;
  & span {
    color: var(--light-color);
    transition: all 2s;
  }
}

.shopping-bag span {
  overflow: hidden;
  white-space: nowrap;
  transition: all 2s;
}

.shopping-bag::after {
  position: absolute;
  content: "";
  top: 10%;
  right: 50%;
  width: 12px;
  height: 12px;
  transform: translate(50%, -100%);
  border: solid 2px;
  border-bottom: none;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* -------------------------- important css classes ------------------------- */

.heading-font {
  font-family: var(--heading-font);
}

.accent-color {
  color: var(--accent-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.dark-color {
  color: var(--dark-color) !important;
}

.light-color {
  color: var(--light-color) !important;
}

.body-text-color {
  color: var(--body-text-color) !important;
}

.light-text-color {
  color: var(--light-text-color) !important;
}

.dark-text-color {
  color: var(--dark-text-color) !important;
}

.dark-icon-color {
  color: var(--dark-icon-color) !important;
}

.active-color {
  color: var(--active-color) !important;
}

.accent-color-hover {
  transition: all 0.5s;
}

.accent-color-hover:hover {
  color: var(--accent-color) !important;
  transition: all 0.5s;
}

.light-dark-bg {
  background-color: var(--light-dark-bg-color) !important;
}
.accent-bg {
  background-color: var(--accent-color) !important;
}

.secondary-bg {
  background-color: var(--secondary-color) !important;
}

.dark-bg {
  background-color: var(--dark-color) !important;
}

.light-bg {
  background-color: var(--light-color) !important;
}

.nav-item-hover {
  position: relative;
  display: inline-block;
}

.nav-item-hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}

.nav-item-hover.expandToLeft::after {
  animation: expandToLeft 0.5s forwards;
}

.nav-item-hover.collapseToRight::after {
  animation: collapseToRight 0.5s forwards;
}

.nav-item-hover.expandToRight::after {
  animation: expandToRight 0.5s forwards;
}

.nav-item-hover.collapseToLeft::after {
  animation: collapseToLeft 0.5s forwards;
}

/* -------------------------- featured items slider ------------------------- */

.featured-item-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../images/pattern1.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.featured-item-container h1 {
  font-family: var(--heading-font);
  font-size: calc(3.5em + (1vw - 0.5em));
  font-weight: 500;
}
.featured-item-container img {
  width: 395px;
  height: 597px;
}
.read-more-btn {
  border-color: var(--accent-color) !important;
}
.read-more-btn > svg {
  transition: margin-left 0.5s;
}
.read-more-btn:hover > svg {
  margin-left: 20px !important;
  transition: margin-left 0.5s;
}
.switch-btn {
  transition: border-color 0.5s;
}
.switch-btn:hover {
  border-color: var(--accent-color) !important;
  transition: border-color 1s;
}

.around-hr-line::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 23vw;
  height: 1px;
  background-color: var(--light-text-color);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.around-hr-line::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 23vw;
  height: 1px;
  background-color: var(--light-text-color);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}