@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prata&family=Protest+Guerrilla&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --heading-font: "Prata", Georgia, serif;
  --heading-font-weight: 400;

  --body-font: "Raleway", sans-serif;

  --accent-color: #c5a992;
  --secondary-color: #c5a992;
  --dark-color: #2f2f2f;
  --light-color: #f3f2ec;
  --body-text-color: #757575;
  --light-text-color: #afafaf;
  --dark-text-color: #2f2f2f;
  --dark-icon-color: #555;
}

body {
  font-family: var(--body-font);
  background-color: var(--light-color);
}

.shopping-bag {
  min-height: 28px;
  min-width: 25px;

  max-width: 25px;
  max-height: 28px;

  border: solid 2px;
  border-radius: 3px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  transition: all 0.5s;
}

.shopping-bag:hover {
  background-color: var(--dark-icon-color);
  transition: all 0.5s;
  & span {
    color: var(--light-color);
    transition: all 2s;
  }
}

.shopping-bag span {
  overflow: hidden;
  white-space: nowrap;
  transition: all 2s;
}

.shopping-bag::after {
  position: absolute;
  content: "";
  top: 10%;
  right: 50%;
  width: 12px;
  height: 12px;
  transform: translate(50%, -100%);
  border: solid 2px;
  border-bottom: none;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* -------------------------- important css classes ------------------------- */
.accent-color {
  color: var(--accent-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.dark-color {
  color: var(--dark-color) !important;
}

.light-color {
  color: var(--light-color) !important;
}

.body-text-color {
  color: var(--body-text-color) !important;
}

.light-text-color {
  color: var(--light-text-color) !important;
}

.dark-text-color {
  color: var(--dark-text-color) !important;
}

.dark-icon-color {
  color: var(--dark-icon-color) !important;
}

.accent-bg {
  background-color: var(--accent-color) !important;
}

.secondary-bg {
  background-color: var(--secondary-color) !important;
}

.dark-bg {
  background-color: var(--dark-color) !important;
}

.light-bg {
  background-color: var(--light-color) !important;
}

/* -------------------------- important css classes ------------------------- */
